<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>OOSD2015P3B</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>GetAgency</display-name>
    <servlet-name>GetAgency</servlet-name>
    <servlet-class>GetAgency</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgency</servlet-name>
    <url-pattern>/GetAgency</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgencyXML</display-name>
    <servlet-name>GetAgencyXML</servlet-name>
    <servlet-class>GetAgencyXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgencyXML</servlet-name>
    <url-pattern>/GetAgencyXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgent</display-name>
    <servlet-name>GetAgent</servlet-name>
    <servlet-class>GetAgent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgent</servlet-name>
    <url-pattern>/GetAgent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAgentXML</display-name>
    <servlet-name>GetAgentXML</servlet-name>
    <servlet-class>GetAgentXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAgentXML</servlet-name>
    <url-pattern>/GetAgentXML</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomer</display-name>
    <servlet-name>GetCustomer</servlet-name>
    <servlet-class>GetCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomer</servlet-name>
    <url-pattern>/GetCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCustomerXML</display-name>
    <servlet-name>GetCustomerXML</servlet-name>
    <servlet-class>GetCustomerXML</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerXML</servlet-name>
    <url-pattern>/GetCustomerXML</url-pattern>
  </servlet-mapping>
  <!--
  <servlet>
  	<servlet-name>JerseyService</servlet-name>
  	<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  	<init-param>
  		<param-name>jersey.config.server.provider.packages</param-name>
  		<param-value>example1</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>JerseyService</servlet-name>
  	<url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  -->
</web-app>